{% import 'macros_common.j2' as common with context %}

{# show_type #}
{% macro show_type(struc) %}
{% set name = struc.name %}
{% set description = struc.description %}
{% set dtype = struc['data-type'] %}
{% set type = struc['type'] %}
{% set fields = struc['fields'] %}

{{ common.show_node_title(name) }}
*{{ description | markdown }}*

<table>
    <thead>
        <tr>
        <th style="min-width:12em">Name</th>
        <th style="min-width:12em">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><code>{{ name }}</code></th>
        <td><code>{{ dtype }}</code></th>
        </tr>
    </tbody>
</table>

{% if fields != none and fields|length %}
<table>
    <thead>
        <tr>
        <th style="min-width:12em">Field</th>
        <th style="min-width:12em">Type</th>
        <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for field in fields %}
            
        {% set dtype = field['data-type'] %}
        {% if dtype|upper == 'STRUCT' or dtype|upper == 'ENUM' %}
            {% set typename = field['type'] %}
        {% else %}
            {% set typename = field['data-type'] %}
        {% endif %}
        
        {% set type = field['type'] %}
        <tr>
            <td><code>{{ field.name }}</code></td>
            <td><code>{{ common.get_typelink(typename) }}</code></td>
            <td>{{ (field.description or '') | markdown }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{{ common.show_details(struc['comments'], struc['code-sample']) }}

{% endmacro %}


{# show_var #}
{% macro show_var(struc) %}
{% set name = struc.name %}
{% set description = struc.description %}
{% set dtype = struc['data-type'] %}
{% set type = struc['type'] %}
{% set fields = struc['fields'] %}

{{ common.show_node_title(name) }}
*{{ description | markdown }}*

<table>
    <thead>
        <tr>
        <th style="min-width:12em">Name</th>
        <th style="min-width:12em">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><code>{{ name }}</code></th>
        <td><code>{{ common.get_typelink(type) }}</code></th>
        </tr>
    </tbody>
</table>

{% if fields != none and fields|length %}
<table>
    <thead>
        <tr>
        <th style="min-width:12em">Field</th>
        <th style="min-width:12em">Type</th>
        <th>Unit</th>
        <th>Constraint</th>
        <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for field in fields %}
        {% set dtype = field['data-type'] %}
        {% if dtype|upper == 'STRUCT' or dtype|upper == 'ENUM' %}
            {% set typename = field['type'] %}
        {% else %}
            {% set typename = field['data-type'] %}
        {% endif %}
        <tr>
            <td><code>{{ field.name }}</code></td>
            <td><code>{{ common.get_typelink(typename) }}</code></td>
            <td>{{ (field.unit or '') | markdown }}</td>
            <td>{{ (field.constraint or '') | markdown }}</td>
            <td>{{ (field.description or '') | markdown }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{{ common.show_details(struc['comments'], struc['code-sample']) }}

{% endmacro %}